html {
    width: 100vw;
    background: #f5f5f5;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #444;
}

body {
    padding-top: 20vh;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

a {
    color: #0d9f6c;
}

.buttons {
    margin: 30px 0 50px 0;
}

.buttons-button {
    text-decoration: none;
    background: #0d9f6c;
    color: #f5f5f5;
    margin: 30px;
    padding: 10px 30px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 5px;
}

